.sapMFlexBox.demoBox {
	border-radius: 10px;
	background-color: #427cac;
	text-align: center;
}
.demoBox .sapMTitle,
.demoBox .sapMText {
	color: #ffffff;
}

.sapMFlexBox.sapMFlexBoxWrapNoWrap.sapMVBox .demoInnerBox {
	background: lightblue;
	border-radius: 10px;
}

.sapMFlexBox.sapMFlexBoxWrapNoWrap.sapMVBox .demoInnerBox .sapMTitle,
.sapMFlexBox.sapMFlexBoxWrapNoWrap.sapMVBox .demoInnerBox .sapMText {
	color: #333333;
}

.cBoxGrid > .fullWidth {
    grid-column-end: span 2;
}

.cBoxGrid > .order1 {
    order: 1;
}

.cBoxGrid > .order2 {
    order: 2;
}